<table class='table table-striped'>
  <% for @venue in @venues %>
    <tr>
      <td>
        <img src="//maps.googleapis.com/maps/api/staticmap?center=<%= @venue.location.lat %>,<%= @venue.location.lng %>&markers=color:blue%7C<%= @venue.location.lat %>,<%= @venue.location.lng %>&zoom=15&size=300x100&sensor=false">
      </td>
      <td>
        <b><a href="<%= @venue.canonicalUrl %>"><%= @venue.name %></a></b>
        <br>
        <%= @venue.categories[0].name %>
        <br>
        <%= @venue.location.address %>, <%= @venue.location.city %>.
        <br>
        <br>
        <br>
        <script>showFBLoginButton(<%= @venue.id %>);</script>
      </td>
    </tr>
  <% end %>  
</table>
